.partners {

    &__in {
        padding: 50px 0;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__body {
        // overflow: visible;
        &_wr {
            align-items: center;

        }

        &_sl {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 1050px) {

    .partners {

        &__title {
            margin-bottom: 40px;
        }

        &__in {
            padding-top: 20px;
        }
    }
}

@media (max-width: 700px) {

    .partners {

        &__in {
            padding-bottom: 30px;
        }
        &__title {
            margin-bottom: 15px;
        }
        &__body {
            padding-right: 70px;
            overflow: visible;

            &_sl {

                img {
                    max-width: 100%;
                    max-height: 100%;   
                    object-fit: contain;
                }
            }
        }
    }
}

@media (max-width: 500px) {

    .partners {

        &__body {

            &_sl {
                justify-content: flex-start;
            }
        }
    }
}